#convert {
    background-color: #af8a10;
}

#convert:hover {
    background-color: #16cade;
}

#clear {
    background-color: #0bdcc7;
}

#clear:hover {
    background-color: #066570;
}

body {
    height: 100%;
    width: 100%;
    background: url('images/bg.jpg');
    background-size: 100%auto;
    background-repeat: no-repeat;
}

h1 {
    font-family: sans-serif;
    color: black;
    opacity: 0.7;
}


input {
    display: block;
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 2em;
    position: relative;
    color: black;
    font-family: sans-serif;
}

::-webkit-input-placeholder {
    color: gray;
    font-family: 'Times New Roman', Times, serif;
    opacity: 0.7;
}


button {
    padding: 10px;
    font-size: 1.2em;
    color: rgb(255, 255, 255);
    border-radius: 12px;
}